<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - FraudShield Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
</head>
<body>
    <div class="section">
        <div class="title">
            <h1>ABOUT US</h1>
        </div>
        <div class="about">
            <div class="card">
                <h2>Sakshi Chandesurye</h2>
                <h4>Roll No: 21R11A05E4</h4>
                <h4>Branch: CSE</h4>
                <h4>Class: 4C</h4>
                <div class="icons">
                    <a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://github.com/"><ion-icon name="logo-github"></ion-icon></a>
                    <a href="https://www.linkedin.com/"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a href="https://www.skype.com/en/"><ion-icon name="logo-skype"></ion-icon></a>
                </div>
            </div>
            <div class="card">
                <h2>Vardhini Venkata Sai</h2>
                <h4>Roll No: 21R11A05F4</h4>
                <h4>Branch: CSE</h4>
                <h4>Class: 4C</h4>
                <div class="icons">
                    <a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://github.com/"><ion-icon name="logo-github"></ion-icon></a>
                    <a href="https://www.linkedin.com/"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a href="https://www.skype.com/en/"><ion-icon name="logo-skype"></ion-icon></a>
                </div>
            </div>
            <div class="card">
                <h2>Singar Tejasvi</h2>
                <h4>Roll No: 21R11A05E7</h4>
                <h4>Branch: CSE</h4>
                <h4>Class: 4C</h4>
                <div class="icons">
                    <a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://github.com/"><ion-icon name="logo-github"></ion-icon></a>
                    <a href="https://www.linkedin.com/"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a href="https://www.skype.com/en/"><ion-icon name="logo-skype"></ion-icon></a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
